<p>This page shows off hitting a stub endpoint which simply returns what you type in.</p>
<p>Visit <a href="https://github.com/thoov/ember-websockets/tree/master/tests/dummy/app" target="_blank" rel="noopener noreferrer">here</a> to see the code for this example</p>

<div class="message-box">
  {{#each this.messages as |message|}}
    <p>{{message.text}}</p>
  {{/each}}
</div>

<div class="message-inputs">
  <Input value={{this.messageText}} />

  <button {{on "click" this.submitText}} type="button">Send Message</button>
</div>
