<div class="container">
  <h2 id='title'>WebSockets with EmberJS</h2>

  {{link-to 'Chat Room' 'sockets.chatroom'}}

  {{link-to 'Multi Chat Room' 'sockets.multichat'}}

  {{link-to 'Dynamic' 'sockets.dynamic' 1}}

  {{outlet}}
</div>
